.container{
    max-width: 1200;
    padding: 20px;
}

.container .options{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.container .textarea{
    min-height: 200px;
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid #ddd;
    margin-top: 20px;
    padding: 10px;
    line-height: 1.3em;
}

/* .link-tooltip{
    position: absolute !important;
} */